@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

*{
  margin: 0;
  
}

body {
  background-color: #f7f7f9;
}

nav {
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.searchbar-container {
  display: flex;
  margin: 0px 30%;
  padding: 0;
  align-items: center;
  flex: 1;
  align-items: stretch;
}

.searchbar {
  background: white;
  padding-right: 20px;
  flex: 1;
}

.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  width: 100%;
}

.searchbar input:focus {
  outline: none;
}

.searchbar-btn button {
  background-color: #363636;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 10px 12px;
  margin-left: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 3%;
  padding: 10px;

}

.pokedex {
  display: flex;
  align-items: center;
}

.pokedex img {
  width: 60px;
  height: auto;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.pokemon-card{
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
	padding: 20px;
	text-align: center;
}

.pokemon-img{
  background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
  margin-left: 30%;
  
}

.pokemon-img img {
	margin-top: 20px;
	max-width: 90%;
} 

.pokemon-id {
  margin-top: 20px;
}

.pokemon-id .id {
  background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
  margin: 10px 150px;
}

.pokemon-data .name {
	letter-spacing: 3px;
  font-weight: 700;
}

.pokemon-data .pokemon-types{
  margin-right: 10px;
  text-transform: capitalize;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.spinner img {
  width: 500px;
  height: 300px;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination button {
  background-color: #363636;
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 0 10px;
  outline: none;
}

.App {
  font-family: 'Lato';
  
}
